<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel = "icon" href = "../static/images/pdawhite.png" type = "image/x-icon">
    
        {% block head %}
        {% endblock %}

        <title>PDA</title>
    </head>

    <body>
    <section>
        <nav>
        <div id="logo-div">
            <a href="/"><img id="logo" src="../static/images/pda.png" /></a>
        </div>
        <div id="bottomnav">
            <div id="navflex">
            <a href="/">    HOME    </a>
            </div>
            <div id="navflex">
            <a href="/text-input">TEXT INPUT</a>
            </div>
            <div id="navflex">
            <a href="/batch-processing">BATCH PROCESSING</a>
            </div>
        </div>
        </nav>
    </section>

    {% block body %} 
    {% endblock %}

    {% block content %} 
    {% endblock %}

    </body>
    <footer>
        <p>Made by PDA team 2022. All rights reserved</p>
    </footer>
 
</html>