{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/batch-processing.css') }}">

{% endblock %} 

{% block content %}

  <section>
    <div class="batch-processing-main">

        <div id="batch-processing-results-block">
            <a href="/batch-processing/results">
                <h4>&#x21b3 Go to Results</h4>
            </a>
        </div>

        <div id="batch-processing-block">
            <form method="POST" enctype="multipart/form-data">
                <label for="file">Choose Excel file to upload</label>
                <input type="file" name="file" accept="./xlsx" required>
                <input class="submit_button" type="submit">
            </form>
        </div>

    </div>
  </section>

{% endblock %}