{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <section id="bodyone">
        <div id="policebg">
        <div id="text">
            <p id="header">PLATFORM FOR DISINFORMATION ANALYSIS</p>
            <p id="para">Platform for Disinformation Analysis is built to detect disinformationin our news
            <br/>
            </p>
        </div>
        </div>
    </section>

    <section id="bodytwo">
        <div className="featureflex">
        <h1>FEATURES</h1>
        <p>presentation slides/how the model works</p>
        </div>
        <div className="featureflex">
        <div></div>
        </div>
    </section>

    <section id="bodyworkflow">
        <h1>Workflow</h1>

        <h1>Credit</h1>
    </section>
{% endblock %}
